# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Secrets & Environment
.env
*.pem
*.key

# Output media & Downloads
downloads/
temp/
_raw/
*.mp4
*.mp3
*.wav
*.zip

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
